@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----------
Basic Page Styling
---------- */
html{
  font-size: 100%;
}
body{
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(248, 235, 217);
}
h1,h2,h3,h4,h5,h6{
  font-family: "Arvo", serif;
}
.author{
  font-family: "Arvo", serif;
}
p{
  margin-bottom: 1rem;
}
  /* LINK STYLING */ 
a{
  color: darkblue;
  text-decoration: none;
  border-bottom: 1px solid darkblue;
}
a:hover{
  color: #fff;
  border-bottom: 3px solid #fff;
}
a:visited{
  color: #555;
  border-bottom: 1px solid #555;
}
/* NAVIGATION STYLING */
.navlist li
{
    display: inline; /* brings nav elements up next to each other */
    list-style-type: none; /* removes the bullet points */
    padding-right: 20px; /* spaces them out from each other. Adjust to suit your needs */
}
.navlist li a:visited{
  color: darkblue;
  border-bottom:1px solid darkblue;
}

header{
  border-bottom: 1px dotted #444;
}
footer{
  border-top: 1px dotted #444;
  margin-top: 3rem;
  padding-top: 1rem;
}

/* -----------------
Media Styling
----------------- */

/* Responsive Image Base */
img,video{
  width: auto; 
  height: auto;
  max-width: 100%;  
}

figure{
  margin: 0;
}
figcaption{
  font-size: .8rem;
  text-align: right;
}

  /* Styling for video embeded with iframe */
  .videoWrapper {
    position: relative;
    padding-top: 25px;
    height: 0;
    clear:both;
    outline:1px solid red;
  }
  
  .videoWrapper.ratio-16-9{
      padding-bottom: 56.25%; /* 16:9 */
  }
  
  .videoWrapper.ratio-4-3{
      padding-bottom: 75%; /* 4:3 */
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
